<div ng-controller="EditorController">
	<div class="container-fluid">
		<section class="builder">
			<aside class="tools col-xs-2">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" class="active"><a href="" data-toggle="tooltip" data-placement="left" title="mouse"><span class="fa fa-mouse-pointer"></span></a></li>
					<li role="presentation"><a href="" data-toggle="tooltip" data-placement="left" title="move"><span class="fa fa-arrows"></span></a></li>
					<li role="presentation"><a href="" data-toggle="tooltip" data-placement="left" title="draw"><span class="fa fa-pencil"></span></a></li>
					<li role="presentation"><a href="" data-toggle="tooltip" data-placement="left" title="grid"><span class="fa fa-th"></span></a></li>
				</ul>
			</aside>
			<canvas-editor></canvas-editor>
			<aside class="layers col-xs-2">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active"><a href="">Top</a></li>
						<li role="presentation"><a href="">Node</a></li>
						<li role="presentation"><a href="">Buildings</a></li>
						<li role="presentation"><a href="">Grid</a></li>
					</ul>
			</aside>
		</section>
	</div>
	<div class="container">
		<section class="information">
			<div class="col-xs-9">
				<nav>
					<ul class="tableNav nav nav-pills col-xs-6" role="tablist">
						<li role="presentation" class="active"><a href="" ng-click="entitiesState=true">Entities<span class="badge">{{ unlinkedNodes() }}</span></a></li>
						<li><a href="" ng-click="entitiesState=false">Selection</a></li>
					</ul>
					<div class="search col-xs-4" ng-show="entitiesState">
						<label><span class="fa fa-search"></span></label>
						<input id="search-input" class="form-control" type="text" ng-model="filters.name" placeholder="Search Room Name"/>
						<label ng-show="filters.name" ng-click="filters.name=''" class="searchClear"><span class="fa fa-times-circle searchClear"></span></label>
					</div>
					<div class="dropdown col-xs-2" ng-show="entitiesState">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="filterText">Index (0-9)</span> <span class="caret"></span>
						</button>
						<ul class="filterSelection dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="" ng-click="order('num0')">Index (0-9)</a></li>
							<li><a href="" ng-click="order('num9')">Index (9-0)</a></li>
							<li><a href="" ng-click="order('nameA')">A - Z</a></li>
							<li><a href="" ng-click="order('nameZ')">Z - A</a></li>
							<li><a href="" ng-click="selectionFilter('unlink')">Unlinked nodes</a></li>
							<li><a href="" ng-click="selectionFilter('favourite')">Favourites</a></li>
						</ul>
					</div>
				</nav>
				<table class="table table-striped table-hover infoTable" ng-show="entitiesState">
					<thead>
						<tr>
							<th>#</th>
							<th>Room Name</th>
							<th>x</th>
							<th>y</th>
							<th>Node Link</th>
							<th>Category</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr><td colspan="6" ng-hide="filtered.length">No results found!</td></tr>
						<tr colspan="12" ng-repeat="map in filtered = (maps | filter:filters) | orderBy:predicate:reverse"
							ng-class="{true: 'danger', false: 'default'}[!map.name.length]">
							<td>{{ map.id }}</td>
							<td><input type="text" ng-model="map.name" ng-focus="roomNameHolder(map.id, map.name)" ng-blur="log(2, map.id, map.name, 0)"
							ng-keypress="checkEnterKey($event); checkEmpty($event, $index)"/></td>
							<td>0</td>
							<td>0</td>
							<td>
								<span class="fa fa-lg" data-id="{{ map.link }}" ng-class="{true: 'fa-times-circle', false: 'fa-check-circle'}[!map.link]"></span>
							</td>
							<td>
								<div class="dropdown" ng-show="entitiesState">
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="filterCatText">{{ map.favourite }}</span> 
									<span class="caret"></span>
									</button>
									<ul class="categorySelection dropdown-menu" aria-labelledby="dropdownMenu2">
										<li><a href="" ng-click="">None</a></li>
										<li><a href="" ng-click="">Option 1</a></li>
										<li><a href="" ng-click="">Option 2</a></li>
									</ul>
								</div>
								<!--
								<a class="star fa fa-star fa-lg" data-id="{{ map.favourite }}" ng-class="{true: 'fa-star-o', false: 'fa-star'}[!map.favourite]"
								ng-click="map.favourite = !map.favourite; log(0, map.id, map.name, map.favourite)"></a>-->
							</td>
							<td><a href="" class="selection" ng-click="selection(map.name)">select ></a></td>
						</tr>
					</tbody>
				</table>
				<p id="showing" ng-show="entitiesState">showing: {{ filtered.length }} of {{ maps.length }} rooms</p>
				<table class="table table-striped" ng-show="!entitiesState">
					<thead>
						<tr>
							<th ng-model="roomSelected">Room {{ roomSelected }} Information</th>
							<th>Node Information</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>x</td>
							<td>x</td>
						</tr>
						<tr>
							<td>y</td>
							<td>y</td>
						</tr>
						<tr>
							<td>width</td>
							<td>width</td>
						</tr>
						<tr>
							<td>height</td>
							<td>height</td>
						</tr>
					</tbody>
				</table>	
			</div>
			<aside class="log col-xs-3">
				<h2>Log</h2>
				<ul>
				<li id="filler"><span class="fa fa-magic fa-lg"></span> No wizardry has been performed</li>
				</ul>
			</aside>				
		</section>
	</div>
	<footer></footer>
</div>