<div id="{{ modalName }}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clearInput()">&#x274C;</button>
				<h4 class="modal-title">{{ header }}</h4>
			</div>
			<p class="modal-header" ng-show="campusName.length"><span><b>Path:</b> Campus: {{ campusName }}</span><span ng-show="buildingName.length"> <b>></b> Building: {{ buildingName }}</span><span ng-show="floorName.length"> <b>></b> Floor: {{ floorName }}</span></p>
			<div class="modal-body">
				<form>
					<fieldset ng-if="header == 'Edit Campus'">
						<label for="campusAbbr">Abbr Name:</label>
						<input type="text" name="campusAbbr" ng-model="campusAbbr" placeholder="{{ campusAbbr }}" ng-change="campusChange(0, campusAbbr)" />
						<label for="campusName">Name of Campus:</label>
						<input type="text" name="campusName" ng-model="campusName" placeholder="{{ campusName }}" ng-change="campusChange(1, campusName)" />
						<label for="campusLat">Latitude:</label>
						<input type="text" name="campusLat" ng-model="campusLat" placeholder="{{ campusLat }}" ng-change="campusChange(2, campusLat)" />
						<label for="campusLong">Longitude:</label>
						<input type="text" name="campusLong" ng-model="campusLong" placeholder="{{ campusLong }}" ng-change="campusChange(3, campusLong)" />
						<label for="campusZoom">Zoom:</label>
						<input type="text" name="campusZoom" ng-model="campusZoom" placeholder="{{ campusZoom }}" ng-change="campusChange(4, campusZoom)" />
					</fieldset>
					<fieldset ng-if="header == 'Edit Building'">
						<label for="buildingName">Name of Building:</label>
						<input type="text" name="buildingName" ng-model="buildingName" placeholder="{{ buildingName }}" ng-change="buildingChange(0, buildingName)" />
						<label for="buildingName">Address:</label>
						<input type="text" name="buildingAddress" ng-model="buildingAddress" placeholder="{{ buildingAddress }}" ng-change="buildingChange(1, buildingAddress)" />
						<label for="campusLat">Latitude:</label>
						<input type="text" name="buildingLat" ng-model="buildingLat" placeholder="{{ buildingLat }}" ng-change="buildingChange(2, buildingLat)" />
						<label for="campusLong">Longitude:</label>
						<input type="text" name="buildingLong" ng-model="buildingLong" placeholder="{{ buildingLong }}" ng-change="buildingChange(3, buildingLong)" />
					</fieldset>
					<fieldset ng-if="header == 'Edit Floor'">
						<label for="floorName">Name:</label>
						<input type="text" name="floorName" ng-model="floorName" placeholder="{{ campus }}" ng-change="floorChange(0, floorName)" />
					</fieldset>
			        <fieldset ng-if="header == 'Create Campus'">
			        	<label for="createInput">{{ header }} name:</label>
						<input type="text" name="createInput" ng-model="createInput" placeholder="input text" ng-change="campusCreateData(createInput)" />
			        </fieldset>
					<fieldset ng-if="header == 'Create Building'">
			        	<label for="createInput">{{ header }} name:</label>
						<input type="text" name="createInput" ng-model="createInput" placeholder="input text" ng-change="buidlingCreateData(createInput)" />
			        </fieldset>
					<fieldset ng-if="header == 'Create Floor'">
			        	<label for="createInput">{{ header }} name:</label>
						<input type="text" name="createInput" ng-model="createInput" placeholder="input text" ng-change="floorCreateData(createInput)" />
			        </fieldset>
    			</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearInput()">Close</button>
				<button ng-if="header == 'Edit Campus'" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editCampus()">{{ btnType }}</button>
				<button ng-if="header == 'Edit Building'" type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editBuilding()">{{ btnType }}</button>
				<button ng-if="header == 'Edit Floor'" type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editFloor()">{{ btnType }}</button>
				<button ng-if="header == 'Create Campus'" type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="createCampus()">{{ btnType }}</button>
				<button ng-if="header == 'Create Building'" type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="createBuilding()">{{ btnType }}</button>
				<button ng-if="header == 'Create Floor'" type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="createInput()">{{ btnType }}</button>
			</div>
		</div>
	</div>
</div>
