.headerSel > h3
	text-align: center
.campusSel,
.buildingSel,
.floorSel
	text-align: center
	.nav-pills
		width: 80%
		li
			padding-bottom: 5px
			a
				text-align: center
	button
		padding-top: 8px
.noSel > p
	text-align: center
.confirmBtn
	padding-top: 10px
	text-align: center