.selHeader
	padding-left: 0
	margin-left: -60px
.campusSel,
.buildingSel,
.floorSel
	text-align: center
	.nav-pills
		width: 80%
		li
			padding-bottom: 5px
			a
				text-align: center
	button
		padding-top: 8px
.createBtn
	border-color: $orange-base
.editBtn
	border-color: $orange-base
.btn-primary
	background-color: $orange-base
	border-color: $orange-base
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus
	background-color: #BB3E13
	border-color: #BB3E13
.noSel
	margin-left: -60px
	text-align: center
.confirmBtn
	margin-left: -30px
	padding-top: 10px
	text-align: center
.fa-exclamation-triangle
	color: #FFCC00