$orange-base: #dd4814
$orange-hover: #d74816
body
	min-width: 705px
::selection
	color: white
	background: rgba(221, 72, 20, 0.7)
::-moz-selection
	color: white
	background: rgba(221, 72, 20, 0.7)
.topBar
	height: 12px
	background-color: $orange-base
header > img
	padding: 0.35%
.breadcrumb
	background-color: #f5f5f5
	border-radius: 0px
a
	color: #5e5e5e
a:hover,
a:focus
	color: $orange-hover
input[type=text]:focus
	padding: 2px
	margin: 0px
	border: 1px solid $orange-base
	box-shadow: 0 0 2px rgba(221, 72, 20, 0.8)
.nav-pills > li > a,
.nav-pills > li > a:hover
	color: #434343
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus
	color: #fff
	background-color: $orange-base
.nav-pills > li.active > a:hover
	color: #fff
	background-color: $orange-hover
.nav-pills > .active > a > .badge
	color: $orange-base
footer
	bottom: 0
	width: 100%
	height: 18px
	background-color: #434343
.footerEditor
	/*position: absolute*/
.footerDashboard
	position: fixed
	left: 0

@import _dashboard
@import _editor