canvas {
  background-color: #999999; }

*:focus {
  outline: 0 !important; }

.information {
  padding-top: 2.5%; }

.fa-check-circle {
  color: #66CC33;
  cursor: default; }

.fa-times-circle {
  color: #FF3333;
  cursor: default; }

.fa-star {
  color: #FFCC00; }

.fa-star-o {
  color: #FFCC00; }

.fa-star:hover {
  color: #F6AE0D;
  text-decoration: none;
  cursor: pointer; }

.fa-star-o:hover {
  color: #F6AE0D;
  text-decoration: none;
  cursor: pointer; }
