.layers
	height: 300px
	overflow-y: hidden
	ul
		height: 100%
	input
		width: 100%
		border: 1px
		background: none
.layers:hover
	overflow-y: scroll
table
	height: 200px
	overflow-y: scroll
tbody
	height: 100%
	overflow-y: scroll

.fa-check-circle
	color: #66CC33
.fa-times-circle
	color: #FF3333
.fa-star
	color: #FFCC00