$orange-base: #dd4814
$orange-hover: #C64114
$orange-selection: rgba(221, 72, 20, 0.7)
$orange-btn-hover: #BB3E13
$yellow-warning: #FFCC00
$white-base: #fff
$white-shade: #f5f5f5
$grey-link: #5e5e5e
$grey-dark: #434343
html
	position: relative
	min-height: 100%
body
	min-width: 705px
	margin-bottom: 10px
::selection
	color: $white-base
	background: $orange-selection
::-moz-selection
	color: $white-base
	background: $orange-selection
.container
	position: relative
	min-height: 100%
.topBar
	height: 12px
	background-color: $orange-base
header > img
	padding: 0.35%
.breadcrumb
	background-color: $white-shade
	border-radius: 0px
a
	color: $grey-link
a:hover,
a:focus
	color: $orange-hover
input[type=text]:focus
	padding: 2px
	margin: 0px
	border: 1px solid $orange-base
	box-shadow: 0 0 2px $orange-selection
.nav-pills > li > a,
.nav-pills > li > a:hover
	color: $grey-dark
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus
	color: $white-base
	background-color: $orange-base
.nav-pills > li.active > a:hover
	color: $white-base
	background-color: $orange-hover
.nav-pills > .active > a > .badge
	color: $orange-base
footer
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	min-width: 705px
	height: 18px
	background-color: $grey-dark
footer:after
	content: ""
	clear: both
@import _dashboard
@import _editor