html {
  position: relative;
  min-height: 100%; }

body {
  min-width: 705px;
  margin-bottom: 10px; }

::selection {
  color: #fff;
  background: rgba(221, 72, 20, 0.7); }

::-moz-selection {
  color: #fff;
  background: rgba(221, 72, 20, 0.7); }

.container {
  position: relative;
  min-height: 100%; }

.topBar {
  height: 12px;
  background-color: #dd4814; }

header > img {
  padding: 0.35%; }

.breadcrumb {
  background-color: #f5f5f5;
  border-radius: 0px; }

a {
  color: #5e5e5e; }

a:hover,
a:focus {
  color: #C64114; }

input[type=text]:focus {
  padding: 2px;
  margin: 0px;
  border: 1px solid #dd4814;
  box-shadow: 0 0 2px rgba(221, 72, 20, 0.7); }

.nav-pills > li > a,
.nav-pills > li > a:hover {
  color: #434343; }

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #dd4814; }

.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #C64114; }

.nav-pills > .active > a > .badge {
  color: #dd4814; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 705px;
  height: 18px;
  background-color: #434343; }

footer:after {
  content: "";
  clear: both; }

.selHeader {
  padding-left: 0;
  margin-left: -60px; }

.campusSel,
.buildingSel,
.floorSel {
  text-align: center; }
  .campusSel .nav-pills,
  .buildingSel .nav-pills,
  .floorSel .nav-pills {
    width: 80%; }
    .campusSel .nav-pills li,
    .buildingSel .nav-pills li,
    .floorSel .nav-pills li {
      padding-bottom: 5px; }
      .campusSel .nav-pills li a,
      .buildingSel .nav-pills li a,
      .floorSel .nav-pills li a {
        text-align: center; }
  .campusSel button,
  .buildingSel button,
  .floorSel button {
    padding-top: 8px; }

.createBtn {
  border-color: #dd4814; }

.editBtn {
  border-color: #dd4814; }

.btn-primary {
  background-color: #dd4814;
  border-color: #dd4814; }

.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
  background-color: #BB3E13;
  border-color: #BB3E13; }

.noSel {
  margin-left: -60px;
  text-align: center; }

.confirmBtn {
  margin-left: -30px;
  padding-top: 10px;
  text-align: center; }

.fa-exclamation-triangle {
  color: #FFCC00; }

canvas {
  background-color: #999999; }

.search {
  position: relative; }

.search label {
  position: absolute;
  top: 7px; }

.search label:first-child {
  left: 25px; }

.search label:last-child {
  right: 25px; }

#search-input {
  padding-left: 30px; }

*:focus {
  outline: 0 !important; }

.information {
  padding-top: 2.5%; }

.layers {
  padding-left: 0; }
  .layers .nav-pills {
    width: 65%;
    min-width: 100px; }
    .layers .nav-pills li > a {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px; }

.tools {
  padding-right: 0;
  text-align: right; }
  .tools .nav-pills {
    width: 20%;
    min-width: 50px;
    float: right; }
    .tools .nav-pills li > a {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #d6d6d6; }

#showing {
  margin-top: -15px;
  padding-right: 10px;
  float: right;
  color: #828080;
  user-select: none;
  -moz-user-select: none; }

#showing:hover {
  cursor: default; }

.log {
  padding-left: 35px; }
  .log li:nth-child(even) {
    background-color: #F9F9F9; }
  .log li {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    list-style-type: square; }

.fa-check-circle {
  color: #66CC33;
  cursor: default; }

.fa-times-circle {
  color: #FF3333;
  cursor: default; }

.fa-star {
  color: #FFCC00; }

.fa-star-o {
  color: #FFCC00; }

.fa-star:hover {
  color: #F6AE0D;
  text-decoration: none;
  cursor: pointer; }

.fa-star-o:hover {
  color: #F6AE0D;
  text-decoration: none;
  cursor: pointer; }

.searchClear {
  color: #828080; }

.searchClear:hover {
  color: #FF3333;
  cursor: pointer; }
